* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom,#000,rgb(18,174,226));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-image: url(plane.jpeg);
  border: 5px solid #040404;
  padding: 40px 30px;
  background-color: #fff;
  
}

.container h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
  border:2px solid rgb(9, 11, 9);
  background-color: rgb(210, 252, 252);
  color: rgb(9, 8, 8);
  min-width: 200px;
  text-align: center;
}

.currency-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.currency-row select {
  width: 100%;
}

button {
    background-color: #0fc6d6;
  cursor: pointer;
}

#result {
  margin-top: 35px;
  text-align: left;
  font-size: 25px;
}
